.form-group {
  margin-bottom: 20px; /* Add space between form groups */
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 20px;
  border: 1px solid #ced4da;
}

.btn:hover {
  background-color: #0056b3;
}

.alert {
  text-align: center;
  margin-top: 20px;
}
